@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.font-kawaii {
  font-family: 'VT323';
}

.pixel-corners {
  clip-path: polygon(
    0px 4px,
    4px 4px,
    4px 0px,
    calc(100% - 4px) 0px,
    calc(100% - 4px) 4px,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    4px calc(100% - 4px),
    0px calc(100% - 4px)
  );
}

.pixel-shadow {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.pixel-text-shadow {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;